$min-width-input: 300px;

.search-bar {
    display: flex;
    position: fixed;
    justify-content: center;
    margin-top: 24px;
    background-color: #333;
    border-radius: 5px;
    width: fit-content;
    padding: 0.5em;
    top: 2em;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 2;

    &:hover > #search-input {
        min-width: $min-width-input;
    }
}

.search-btn {
    cursor: pointer;
    outline: unset;
    border: 1px solid darkgray;
    margin-left: 0.5em;
    padding: 5px;
    background-color: lightgray;
    border-radius: 50%;

}

#search-input {
    padding: 3px;

    transition: ease-out, min-width 0.5s ease-in-out;
    min-width: 0;

    &:focus {
        min-width: $min-width-input;
    }
}
