.search-bar {
    display: flex;
    position: fixed;
    justify-content: center;
    margin-top: 24px;
    background-color: #333;
    border-radius: 5px;
    padding: 0.5em;
    top: 2em;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 95%;
    max-width: 350px;

    #search-input {
        padding: 3px;
        flex-grow: 1;
    }
}

.fav-btn {
    cursor: pointer;
    outline: unset;
    margin-left: 0.5em;
    border: 2px solid #222;
    background-color: lightgray;
    border-radius: 50%;
    padding: 5px;

    &:hover + #tooltip {
         visibility: visible;
         opacity: 1;
    }

}

.show-favorites {
    background-color: #6dfb6d;
}

#tooltip {
    position: absolute;
    top: 125%;
    left: 72%;
    background: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    min-width: 140px;

    // Animation effect
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;

    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        top: -5px;
        border-right: 5px solid transparent;
        border-bottom: 5px solid black;
        left: 50%;
    }
}
